In [96]:
import pandas as pd

# Replace this with the path to your dataset file

# Load the dataset
peachtree_df = pd.read_csv('/home/zach/Downloads/NGSIM_Peachtree_Vehicle_Trajectories.csv')

In [97]:

# Copy the DataFrame to avoid modifying the original dataset
peachtree_copy = peachtree_df.copy()

# Convert the Global_Time column from milliseconds to a datetime format
peachtree_copy['DateTime'] = pd.to_datetime(peachtree_copy['Global_Time'], unit='s')

peachtree_copy.set_index('DateTime', inplace=True)

# Resample the data by hour and count unique vehicle IDs
vehicle_counts_per_hour = peachtree_copy['Vehicle_ID'].resample('H').nunique()

# Display the result
print(vehicle_counts_per_hour)

DateTime
2006-11-08 20:00:00     2
2006-11-08 21:00:00     5
2006-11-08 22:00:00    12
2006-11-08 23:00:00    18
2006-11-09 00:00:00    30
                       ..
2006-11-20 18:00:00     6
2006-11-20 19:00:00     6
2006-11-20 20:00:00     6
2006-11-20 21:00:00     5
2006-11-20 22:00:00     2
Freq: H, Name: Vehicle_ID, Length: 291, dtype: int64

In [98]:
peachtree_copy['v_Class'].min()

1

In [101]:
import pandas as pd


# Convert the Global_Time column from milliseconds to a datetime format
peachtree_df['DateTime'] = pd.to_datetime(peachtree_df['Global_Time'], unit='s')

# Set the DateTime column as the index
peachtree_df.set_index('DateTime', inplace=True)

# Resample the data every 3 hours and count unique vehicle IDs
vehicle_counts_per_3hours = peachtree_df['Vehicle_ID'].resample('3H').nunique()

# Calculate the count of different vehicle types and movements every 3 hours
vehicle_type_counts = peachtree_df.groupby([pd.Grouper(freq='3H'), 'v_Class'])['Vehicle_ID'].nunique().unstack(fill_value=0)
movement_counts = peachtree_df.groupby([pd.Grouper(freq='3H'), 'Movement'])['Vehicle_ID'].nunique().unstack(fill_value=0)

# Combine the counts into a single DataFrame
combined_counts = pd.concat([vehicle_counts_per_3hours, vehicle_type_counts, movement_counts], axis=1)
combined_counts.columns = ['Total_Vehicles'] + ['v_Class_' + str(i) for i in vehicle_type_counts.columns] + ['Movement_' + str(i) for i in movement_counts.columns]

# Display the result
combined_counts

,Total_Vehicles,v_Class_1,v_Class_2,v_Class_3,Movement_1,Movement_2,Movement_3
DateTime,,,,,,,
2006-11-08 18:00:00,2,0,2,0,1,1,0
2006-11-08 21:00:00,21,0,21,0,20,1,6
2006-11-09 00:00:00,56,0,56,0,49,4,11
2006-11-09 03:00:00,55,1,53,1,46,10,10
2006-11-09 06:00:00,53,1,51,1,47,6,8
...,...,...,...,...,...,...,...
2006-11-20 09:00:00,18,0,17,1,17,2,1
2006-11-20 12:00:00,11,0,10,1,11,1,0
2006-11-20 15:00:00,9,0,8,1,9,1,0
2006-11-20 18:00:00,6,0,6,0,6,0,1
2006-11-20 21:00:00,5,0,5,0,5,0,2

In [103]:

# Define thresholds for categorization (these values are examples and should be adjusted based on the dataset's specifics)
high_velocity_threshold = peachtree_df['v_Vel'].quantile(0.75)  # 75th percentile
low_velocity_threshold = peachtree_df['v_Vel'].quantile(0.25)  # 25th percentile
high_acceleration_threshold = peachtree_df['v_Acc'].quantile(0.75)  # 75th percentile

# Function to categorize each vehicle
def categorize_vehicle(row):
    if row['v_Vel'] > high_velocity_threshold and row['v_Acc'] > high_acceleration_threshold:
        if row['Movement'] in [2, 3]:  # Assuming 2 and 3 are sudden lane changes or turns
            return 'Aggressive'
        else:
            return 'Regular'
    elif row['v_Vel'] < low_velocity_threshold:
        return 'Defensive'
    else:
        return 'Regular'

# Apply the categorization
peachtree_df['Driving_Style'] = peachtree_df.apply(categorize_vehicle, axis=1)

# Example: Count the number of each type of driving style
style_counts = peachtree_df['Driving_Style'].value_counts()
print(style_counts)

Driving_Style
Regular       661129
Defensive     212430
Aggressive       328
Name: count, dtype: int64

In [110]:
def categorize_vehicle_class(row):
    # Vehicle class categorization based on the v_Class value
    if row['v_Class'] == 1:
        return 'Motorcycle'
    elif row['v_Class'] == 2:
        return 'Auto'
    elif row['v_Class'] == 3:
        return 'Truck'
    else:
        return 'Unknown'
def categorize_movement(row):
    # Example thresholds for aggressive, defensive, and regular driving
    aggressive_speed_threshold = 40  # feet/second
    defensive_speed_threshold = 20  # feet/second
    aggressive_acceleration_threshold = 5  # feet/second^2
    defensive_acceleration_threshold = -5  # feet/second^2

    # Aggressive driving: High speed or high acceleration
    if row['v_Vel'] > aggressive_speed_threshold or row['v_Acc'] > aggressive_acceleration_threshold:
        return 'Aggressive'

    # Defensive driving: Low speed or decelerating
    elif row['v_Vel'] < defensive_speed_threshold or row['v_Acc'] < defensive_acceleration_threshold:
        return 'Defensive'

    # Regular driving: Neither aggressive nor defensive
    else:
        return 'Regular'

In [114]:
# Convert the 'Global_Time' to a datetime object
peachtree_df['DateTime'] = pd.to_datetime(peachtree_df['Global_Time'], unit='s')
peachtree_df.set_index('DateTime', inplace=True)

# Apply the functions to create new columns
peachtree_df['Vehicle_Class'] = peachtree_df.apply(categorize_vehicle_class, axis=1)
peachtree_df['Movement_Type'] = peachtree_df.apply(categorize_movement, axis=1)

aggregated_data = peachtree_df.resample('6H').agg({
    'Vehicle_ID': pd.Series.nunique,
    'Vehicle_Class': lambda x: x.value_counts().to_dict(),
    'Movement_Type': lambda x: x.value_counts().to_dict()
})

# Display the result
print(aggregated_data.head())

                     Vehicle_ID  \
DateTime
2006-11-08 18:00:00          21
2006-11-09 00:00:00          73
2006-11-09 06:00:00          66
2006-11-09 12:00:00          66
2006-11-09 18:00:00          95

                                                        Vehicle_Class  \
DateTime
2006-11-08 18:00:00                                     {'Auto': 740}
2006-11-09 00:00:00     {'Auto': 6222, 'Motorcycle': 63, 'Truck': 26}
2006-11-09 06:00:00    {'Auto': 8452, 'Motorcycle': 216, 'Truck': 22}
2006-11-09 12:00:00  {'Auto': 10104, 'Truck': 366, 'Motorcycle': 216}
2006-11-09 18:00:00  {'Auto': 13151, 'Truck': 426, 'Motorcycle': 216}

                                                         Movement_Type
DateTime
2006-11-08 18:00:00  {'Regular': 313, 'Defensive': 250, 'Aggressive...
2006-11-09 00:00:00  {'Defensive': 4078, 'Regular': 1256, 'Aggressi...
2006-11-09 06:00:00  {'Defensive': 6087, 'Regular': 1408, 'Aggressi...
2006-11-09 12:00:00  {'Defensive': 4495, 'Regular': 3217, 'Aggressi...
2006-11-09 18:00:00  {'Defensive': 8592, 'Aggressive': 2639, 'Regul...

In [115]:

# Display the result
print(aggregated_data)

                     Vehicle_ID  \
DateTime
2006-11-08 18:00:00          21
2006-11-09 00:00:00          73
2006-11-09 06:00:00          66
2006-11-09 12:00:00          66
2006-11-09 18:00:00          95
2006-11-10 00:00:00         122
2006-11-10 06:00:00         110
2006-11-10 12:00:00         116
2006-11-10 18:00:00         125
2006-11-11 00:00:00         147
2006-11-11 06:00:00         143
2006-11-11 12:00:00         134
2006-11-11 18:00:00         133
2006-11-12 00:00:00         133
2006-11-12 06:00:00         168
2006-11-12 12:00:00         147
2006-11-12 18:00:00         138
2006-11-13 00:00:00         124
2006-11-13 06:00:00         148
2006-11-13 12:00:00         130
2006-11-13 18:00:00         123
2006-11-14 00:00:00         111
2006-11-14 06:00:00         108
2006-11-14 12:00:00         138
2006-11-14 18:00:00         135
2006-11-15 00:00:00         120
2006-11-15 06:00:00         121
2006-11-15 12:00:00         152
2006-11-15 18:00:00         162
2006-11-16 00:00:00         137
2006-11-16 06:00:00         136
2006-11-16 12:00:00         159
2006-11-16 18:00:00         177
2006-11-17 00:00:00         151
2006-11-17 06:00:00         140
2006-11-17 12:00:00         137
2006-11-17 18:00:00         160
2006-11-18 00:00:00         163
2006-11-18 06:00:00         144
2006-11-18 12:00:00         123
2006-11-18 18:00:00         121
2006-11-19 00:00:00         144
2006-11-19 06:00:00         116
2006-11-19 12:00:00          63
2006-11-19 18:00:00          47
2006-11-20 00:00:00          35
2006-11-20 06:00:00          25
2006-11-20 12:00:00          11
2006-11-20 18:00:00           6

                                                        Vehicle_Class  \
DateTime
2006-11-08 18:00:00                                     {'Auto': 740}
2006-11-09 00:00:00     {'Auto': 6222, 'Motorcycle': 63, 'Truck': 26}
2006-11-09 06:00:00    {'Auto': 8452, 'Motorcycle': 216, 'Truck': 22}
2006-11-09 12:00:00  {'Auto': 10104, 'Truck': 366, 'Motorcycle': 216}
2006-11-09 18:00:00  {'Auto': 13151, 'Truck': 426, 'Motorcycle': 216}
2006-11-10 00:00:00  {'Auto': 17820, 'Motorcycle': 216, 'Truck': 216}
2006-11-10 06:00:00  {'Auto': 18571, 'Truck': 303, 'Motorcycle': 216}
2006-11-10 12:00:00    {'Auto': 18510, 'Truck': 682, 'Motorcycle': 1}
2006-11-10 18:00:00                    {'Auto': 19487, 'Truck': 1024}
2006-11-11 00:00:00                     {'Auto': 21356, 'Truck': 955}
2006-11-11 06:00:00                     {'Auto': 22109, 'Truck': 901}
2006-11-11 12:00:00                     {'Auto': 20537, 'Truck': 896}
2006-11-11 18:00:00                    {'Auto': 18810, 'Truck': 1271}
2006-11-12 00:00:00                    {'Auto': 19892, 'Truck': 1183}
2006-11-12 06:00:00                     {'Auto': 24278, 'Truck': 477}
2006-11-12 12:00:00                     {'Auto': 24852, 'Truck': 445}
2006-11-12 18:00:00                     {'Auto': 22018, 'Truck': 651}
2006-11-13 00:00:00                     {'Auto': 20131, 'Truck': 648}
2006-11-13 06:00:00                     {'Auto': 22170, 'Truck': 550}
2006-11-13 12:00:00                     {'Auto': 22601, 'Truck': 409}
2006-11-13 18:00:00                     {'Auto': 22439, 'Truck': 216}
2006-11-14 00:00:00                     {'Auto': 17783, 'Truck': 166}
2006-11-14 06:00:00                      {'Auto': 16136, 'Truck': 53}
2006-11-14 12:00:00                     {'Auto': 19336, 'Truck': 256}
2006-11-14 18:00:00                     {'Auto': 19506, 'Truck': 216}
2006-11-15 00:00:00                     {'Auto': 17308, 'Truck': 222}
2006-11-15 06:00:00                     {'Auto': 16718, 'Truck': 458}
2006-11-15 12:00:00                     {'Auto': 20085, 'Truck': 466}
2006-11-15 18:00:00                     {'Auto': 21991, 'Truck': 532}
2006-11-16 00:00:00                     {'Auto': 21014, 'Truck': 549}
2006-11-16 06:00:00                     {'Auto': 20417, 'Truck': 864}
2006-11-16 12:00:00                     {'Auto': 22545, 'Truck': 864}
2006-11-16 18:00:00                     {'Auto': 24152, 'Truck': 741}
2006-11-17 00:00:00                     {'Auto': 23815, 'Truck': 444}
2006-11-17 06:00:00                      {'Auto': 23358, 'Truck': 75}
2006-11-17 12:00:00                                   {'Auto': 21869}
2006-11-17 18:00:00                                   {'Auto': 21850}
2006-11-18 00:00:00                                   {'Auto': 23130}
2006-11-18 06:00:00                      {'Auto': 21988, 'Truck': 29}
2006-11-18 12:00:00                      {'Auto': 18573, 'Truck': 30}
2006-11-18 18:00:00                      {'Auto': 17483, 'Truck': 71}
2006-11-19 00:00:00                     {'Auto': 19814, 'Truck': 216}
2006-11-19 06:00:00                     {'Auto': 17452, 'Truck': 216}
2006-11-19 12:00:00                     {'Auto': 11813, 'Truck': 216}
2006-11-19 18:00:00                      {'Auto': 8523, 'Truck': 216}
2006-11-20 00:00:00                      {'Auto': 6451, 'Truck': 216}
2006-11-20 06:00:00                      {'Auto': 3664, 'Truck': 216}
2006-11-20 12:00:00                      {'Auto': 1771, 'Truck': 155}
2006-11-20 18:00:00                                     {'Auto': 794}

                                                         Movement_Type
DateTime
2006-11-08 18:00:00  {'Regular': 313, 'Defensive': 250, 'Aggressive...
2006-11-09 00:00:00  {'Defensive': 4078, 'Regular': 1256, 'Aggressi...
2006-11-09 06:00:00  {'Defensive': 6087, 'Regular': 1408, 'Aggressi...
2006-11-09 12:00:00  {'Defensive': 4495, 'Regular': 3217, 'Aggressi...
2006-11-09 18:00:00  {'Defensive': 8592, 'Aggressive': 2639, 'Regul...
2006-11-10 00:00:00  {'Defensive': 12633, 'Regular': 3462, 'Aggress...
2006-11-10 06:00:00  {'Defensive': 12970, 'Regular': 3595, 'Aggress...
2006-11-10 12:00:00  {'Defensive': 11506, 'Aggressive': 4461, 'Regu...
2006-11-10 18:00:00  {'Defensive': 10355, 'Regular': 5532, 'Aggress...
2006-11-11 00:00:00  {'Defensive': 15900, 'Regular': 4388, 'Aggress...
2006-11-11 06:00:00  {'Defensive': 16806, 'Regular': 3467, 'Aggress...
2006-11-11 12:00:00  {'Defensive': 14129, 'Regular': 4186, 'Aggress...
2006-11-11 18:00:00  {'Defensive': 8260, 'Regular': 6128, 'Aggressi...
2006-11-12 00:00:00  {'Defensive': 13635, 'Regular': 4872, 'Aggress...
2006-11-12 06:00:00  {'Defensive': 19167, 'Regular': 3919, 'Aggress...
2006-11-12 12:00:00  {'Defensive': 16524, 'Regular': 5106, 'Aggress...
2006-11-12 18:00:00  {'Defensive': 12285, 'Regular': 5480, 'Aggress...
2006-11-13 00:00:00  {'Defensive': 8831, 'Aggressive': 6140, 'Regul...
2006-11-13 06:00:00  {'Defensive': 17156, 'Regular': 3385, 'Aggress...
2006-11-13 12:00:00  {'Defensive': 18454, 'Regular': 2677, 'Aggress...
2006-11-13 18:00:00  {'Defensive': 14526, 'Regular': 4470, 'Aggress...
2006-11-14 00:00:00  {'Defensive': 6802, 'Regular': 5678, 'Aggressi...
2006-11-14 06:00:00  {'Defensive': 9683, 'Aggressive': 3263, 'Regul...
2006-11-14 12:00:00  {'Defensive': 15030, 'Regular': 2909, 'Aggress...
2006-11-14 18:00:00  {'Defensive': 13004, 'Regular': 3541, 'Aggress...
2006-11-15 00:00:00  {'Defensive': 8003, 'Aggressive': 4908, 'Regul...
2006-11-15 06:00:00  {'Defensive': 7922, 'Aggressive': 5410, 'Regul...
2006-11-15 12:00:00  {'Defensive': 14436, 'Regular': 4117, 'Aggress...
2006-11-15 18:00:00  {'Defensive': 15770, 'Regular': 4230, 'Aggress...
2006-11-16 00:00:00  {'Defensive': 12760, 'Aggressive': 4612, 'Regu...
2006-11-16 06:00:00  {'Defensive': 10061, 'Regular': 5667, 'Aggress...
2006-11-16 12:00:00  {'Defensive': 12299, 'Regular': 7083, 'Aggress...
2006-11-16 18:00:00  {'Defensive': 18518, 'Regular': 4715, 'Aggress...
2006-11-17 00:00:00  {'Defensive': 16904, 'Regular': 4822, 'Aggress...
2006-11-17 06:00:00  {'Defensive': 11160, 'Regular': 7300, 'Aggress...
2006-11-17 12:00:00  {'Defensive': 12237, 'Regular': 5286, 'Aggress...
2006-11-17 18:00:00  {'Defensive': 15468, 'Regular': 4280, 'Aggress...
2006-11-18 00:00:00  {'Defensive': 15495, 'Regular': 5018, 'Aggress...
2006-11-18 06:00:00  {'Defensive': 12040, 'Regular': 6425, 'Aggress...
2006-11-18 12:00:00  {'Defensive': 11786, 'Regular': 3436, 'Aggress...
2006-11-18 18:00:00  {'Defensive': 11081, 'Regular': 3793, 'Aggress...
2006-11-19 00:00:00  {'Defensive': 14484, 'Regular': 3627, 'Aggress...
2006-11-19 06:00:00  {'Defensive': 10681, 'Regular': 4014, 'Aggress...
2006-11-19 12:00:00  {'Defensive': 6496, 'Aggressive': 3043, 'Regul...
2006-11-19 18:00:00  {'Defensive': 5700, 'Aggressive': 1707, 'Regul...
2006-11-20 00:00:00  {'Defensive': 5125, 'Aggressive': 820, 'Regula...
2006-11-20 06:00:00  {'Defensive': 3241, 'Regular': 415, 'Aggressiv...
2006-11-20 12:00:00  {'Defensive': 1676, 'Regular': 156, 'Aggressiv...
2006-11-20 18:00:00  {'Defensive': 551, 'Regular': 128, 'Aggressive...

In [ ]:
import pandas as pd

# Assuming peachtree_df is your DataFrame

# Convert 'Global_Time' to datetime and set it as the index
peachtree_df['DateTime'] = pd.to_datetime(peachtree_df['Global_Time'], unit='ms')
peachtree_df.set_index('DateTime', inplace=True)

# Group by time of day (e.g., 6-9 AM, 9-12 PM, etc.)
# First, extract the time from the DateTime
peachtree_df['TimeOfDay'] = peachtree_df.index.time

# Group by 'TimeOfDay' and aggregate
aggregated_data = peachtree_df.groupby('TimeOfDay').agg({
    'Vehicle_ID': 'nunique',
    'Vehicle_Class': 'nunique',
    'Movement_Type': 'nunique
    # ...
}).reset_index()

# Display the aggregated data
print(aggregated_data)